---
layout: layout/index.njk
---
{% import "partials/card-product.njk" as elCard %}
{% import "partials/product-info.njk" as elInfo %}
{% import "partials/customer-reviews.njk" as elReviews %}
{% import "partials/rating.njk" as elRating %}
<section class="section-catalog">
    <div class="container mx-auto">
        <div class="flex items-center mt-6 space-x-2 text-gray-600 news-landmark__pages">
            <a href="/"
                class="underline outline-none focus:text-blue-800 active:text-blue-900 focus:no-underline focus:outline focus:outline-blue-800">Home</a>
            <svg class="w-4 h-4">
                <use xlink:href="/images/all-icons.svg#arrow-right"></use>
            </svg>
            <a href="/catalog/"
                class="underline outline-none focus:text-blue-800 active:text-blue-900 focus:no-underline focus:outline focus:outline-blue-80">Catalog</a>
            <svg class="w-4 h-4">
                <use xlink:href="/images/all-icons.svg#arrow-right"></use>
            </svg>
            <a href="/catalog/categories/mirrors/"
                class="underline outline-none focus:text-blue-800 active:text-blue-900 focus:no-underline focus:outline focus:outline-blue-80">Mirrors</a>
            <svg class="w-4 h-4">
                <use xlink:href="/images/all-icons.svg#arrow-right"></use>
            </svg>
            <a href="#"
                class="outline-none focus:text-blue-800 active:text-blue-900 focus:outline focus:outline-blue-80">Oval
                hanging mirror</a>
        </div>
        <div class="grid w-full mt-6 grid-cols-full">
            <div class="grid grid-cols-[696px,auto] gap-x-15">
                {{ elInfo.infoImage(oldPrice, new, imagesProduct) }}
                {{ elInfo.infoGeneral(name, rating, reviews, review, price, oldPrice, colors, favorites) }}
            </div>
            <div x-data="{ open: false }" class="mt-8 text-sm text-gray-900 w-[696px]">
                <div class="mt-3">{{ content | safe }}</div>
                <button class="mt-3" @click="open = ! open">
                    <div class="flex items-center space-x-1 text-blue-800">
                        <p>Read full description</p>
                        <svg class="w-4 h-4">
                            <use xlink:href="/images/all-icons.svg#arrow-top"></use>
                        </svg>
                    </div>
                </button>
            </div>
            <div class="w-[696px]">
                {{ elInfo.infoMaterials(height, width, depth, weight, materials) }}
            </div>
            <div class="grid grid-cols-[2fr,1fr] gap-x-15 max-w-[90%] mt-10">
                {{ elReviews.reviews(rating, imagesProduct, name, modelNumber, reviews, review, recommendedTrue,
                recommended, ratings) }}
                {{ elRating.ratingCustomer(rating, reviews, recommendedTrue, recommended, ratings) }}
            </div>
            <div class="grid mt-7 gap-y-4">
                <div class="py-3">
                    <h2 class="text-2xl font-medium text-gray-900">You might also like</h2>
                    <div class="grid grid-cols-4 mt-5 gap-x-4">
                        {% for item in alsoLike %}
                        {{ elCard.cardProduct(item.image, item.new, item.favorites, item.link, item.name, item.price,
                        item.oldPrice) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="py-3">
                    <h2 class="text-2xl font-medium text-gray-900">Recently Viewed</h2>
                    <div class="grid grid-cols-4 mt-5 gap-x-4">
                        {% for item in recentlyWied %}
                        {{ elCard.cardProduct(item.image, item.new, item.favorites, item.link, item.name, item.price,
                        item.oldPrice) }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>