---
layout: layout/index.njk
---
{% import "partials/card-product.njk" as elCard %}
{% import "partials/product-info.njk" as elInfo %}
{% import "partials/customer-reviews.njk" as elReviews %}
{% import "partials/rating.njk" as elRating %}
<section class="section-info">
    <div class="container mx-auto">
        <div class="flex items-center mt-6 space-x-2 text-gray-600 news-landmark__pages">
            <a href="/"
                class="underline outline-none focus:text-blue-800 active:text-blue-900 focus:no-underline focus:outline focus:outline-blue-800">Home</a>
            <svg class="w-4 h-4">
                <use xlink:href="/images/all-icons.svg#arrow-right"></use>
            </svg>
            <a href="/catalog/"
                class="underline outline-none focus:text-blue-800 active:text-blue-900 focus:no-underline focus:outline focus:outline-blue-80">Catalog</a>
            <svg class="w-4 h-4">
                <use xlink:href="/images/all-icons.svg#arrow-right"></use>
            </svg>
            <a href="/catalog/categories/mirrors/"
                class="underline outline-none focus:text-blue-800 active:text-blue-900 focus:no-underline focus:outline focus:outline-blue-80">Mirrors</a>
            <svg class="w-4 h-4">
                <use xlink:href="/images/all-icons.svg#arrow-right"></use>
            </svg>
            <a href="#"
                class="outline-none focus:text-blue-800 active:text-blue-900 focus:outline focus:outline-blue-80">Oval
                hanging mirror</a>
        </div>
        <div class="grid w-full grid-cols-full">
            {{ elInfo.infoImage(oldPrice, new, imagesProduct) }}
            {{ elInfo.infoBasic(name, rating, reviews, review, price, oldPrice) }}
            {{ elInfo.infoDetailed(colors) }}
        </div>
        <div x-data="{ open: false }" class="mt-8 text-sm text-gray-900">
            <div class="mt-3 max-w-[696px]">{{ content | safe }}</div>
            <button class="mt-3" @click="open = ! open">
                <div class="flex items-center space-x-1 text-blue-800">
                    <p>Read full description</p>
                    <svg class="w-4 h-4">
                        <use xlink:href="/images/all-icons.svg#arrow-top"></use>
                    </svg>
                </div>
            </button>
        </div>
        <div class="max-w-[696px]">
            {{ elInfo.infoMaterials(height, width, depth, weight, materials) }}
        </div>
    </div>
</section>
<section class="section-review">
    <div class="container mx-auto">
        <div class="grid lg:grid-cols-[2fr,1fr] sm:gap-x-15 w-full sm:max-w-[90%] mt-10">
            {{ elReviews.reviews(rating, imagesProduct, name, modelNumber, reviews, review, recommendedTrue,
            recommended, ratings) }}
            {{ elRating.ratingCustomer(rating, reviews, recommendedTrue, recommended, ratings) }}
        </div>
    </div>
</section>
<section class="overflow-hidden section-recomended">
    <div class="container mx-auto">
        <div class="grid grid-cols-full mt-7 gap-y-4">
            <div class="py-3">
                <h2 class="text-2xl font-medium text-gray-900">You might also like</h2>
                <div class="w-full mt-4 overflow-visible sm:mt-5 swiper swiper-from-recomended">
                    <div class="grid grid-flow-col swiper-wrapper gap-x-2 sm:gap-x-0">
                        {% for item in alsoLike %}
                        <div class="swiper-slide w-[160px] sm:w-full">
                            {{ elCard.cardProduct(item.image, item.new, item.favorites, item.link, item.name, item.price, item.oldPrice) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="py-3">
                <h2 class="text-2xl font-medium text-gray-900">Recently Viewed</h2>
                <div class="w-full mt-4 overflow-visible sm:mt-5 swiper swiper-from-recomended">
                    <div class="grid grid-flow-col swiper-wrapper gap-x-2 sm:gap-x-0">
                        {% for item in recentlyWied %}
                        <div class="swiper-slide w-[160px] sm:w-full">
                            {{ elCard.cardProduct(item.image, item.new, item.favorites, item.link, item.name, item.price,
                                item.oldPrice) }}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>