<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/main.css' | url }}"/>
    <title>Atmosphere</title>
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" type="image/x-icon">
    <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body class="bg-gray-50">
    {% include './header.htm' %}
    <main>
        <section class="section-banner">
            {% include 'partials/banner.htm' %}
        </section>
        <section class="overflow-hidden section-news">
            {% include 'partials/news.htm' %}
        </section>
        <section class="popular-produtcs pt-15">
            {% include 'partials/product.htm' %}
        </section>
        <section class="product-categories pt-15">
            {% include 'partials/categories.htm' %}
        </section>
        <section class="congrats pt-15">
            {% include 'partials/congrats.htm' %}
        </section>
    </main>
    {% include './footer.njk' %}
    <script src="{{ '/assets/main.js' | url }}"></script>
</body>
</html>