<nav id="header" class="fixed top-0 z-10 w-full bg-gray-100 shadow-md ">
  <div class="container flex flex-wrap items-center justify-between w-full py-4 mx-auto mt-0 ">
    <div class="flex items-center pl-4">
      <image src="{{ site.logoUrl | url }}" alt="Logo" class="h-5 mr-1"/>
      <a  href="{{ '/' | url }} " class="text-xl font-extrabold no-underline hover:no-underline" >
        {{ site.name }}
      </a>
    </div>
    <div class="block pr-4 md:hidden">
      <button id="nav-toggle" class="flex items-center px-3 py-2 text-gray-500 border border-gray-600 rounded appearance-none hover:text-gray-900 hover:border-purple-500 focus:outline-none">
        <svg class="w-3 h-3 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/>
        </svg>
      </button>
    </div>
    <div class="z-20 flex-grow hidden w-full mt-2 md:flex md:content-center md:items-center md:w-auto md:mt-0" id="nav-content">
      <div class="content-center flex-1 w-full max-w-sm py-4 mx-auto md:py-0">
      {% if site.enableAlgolia %}
        <div class="relative pl-4 pr-4 pull-right md:pr-0">
          <input id="searchbox" type="search" placeholder="{{ site[locale]._t.search }}" class="w-full px-2 py-1 pl-10 text-sm leading-normal text-gray-800 transition bg-gray-100 border rounded appearance-none focus:outline-none focus:border-purple-500">
          <div class="absolute search-icon" style="top: 0.375rem;left: 1.75rem;">
            <img src="{{ '/images/algolia-blue-mark.png' | url }}" class="h-5"/>
          </div>
        </div>
      {% endif %}
      </div>
      <ul class="items-center justify-end text-sm list-none list-reset md:flex">
        {% for menuItem in site[locale].menu.top %}
          <li class="py-2 mr-3 md:py-0" title="{{menuItem.tooltip}}">
            <a href="{{menuItem.href | url}}" class="inline-block px-2 py-2 font-bold no-underline uppercase hover:underline hover:bg-primary bg:rounded-md hover:text-white">
              <i class="{{menuItem.icon}} fill-current "></i>{{menuItem.title}}</a>
          </li>
        {% endfor %}
      </ul>

      {# Lnaguages #}
      <ul class="items-center justify-end list-none list-reset lg:flex">
        {% for lang in site.langs %}
          <li class="mr-3 bg-red lg:py-0">
            <a href="{{ ('/' + lang.id) | url }}" class="inline-block text-xs no-underline">{{lang.name}}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</nav>
