---
title: Inicio
layout: layout/index.njk
---
<section class="section-banner">
    {% include 'partials/banner.njk' %}
</section>
<section class="overflow-hidden section-news">
    {% include 'partials/news.njk' %}
</section>
<section class="popular-produtcs pt-15">
    {% include 'partials/product.njk' %}
</section>
<section class="product-categories pt-15">
    {% include 'partials/categories.njk' %}
</section>
<section class="congrats pt-15">
    {% include 'partials/congrats.njk' %}
</section>