<div class="grid w-full grid-cols-[100%] grid-rows-1 swiper section-banner__swiper h-[200px] sm:h-[350px] md:h-[420px] lg:h-[520px] xl:h-[720px]">
    <div class="swiper-wrapper">
        <div class="bg-center bg-no-repeat bg-cover swiper-slide" style="background-image: url('/assets/image/banner-img/pot.png');">
            <div class="container relative w-full mx-auto">
                <div class="absolute top-3 right-3 sm:top-8 sm:right-8 lg:top-16 lg:right-[80px] xl:right-[140px] text-right text-gray-200">
                    <p class="font-bold text-sm sm:text-2xl md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 xl:leading-[60px]">Ceramic jewelry boxes</p>
                    <p class="font-bold text-2xl md:text-4xl lg:text-[52px] xl:text-[68px] lg:leading-[60px] xl:leading-[80px]">€13.99</p>
                    <p class="text-gray-400 text-xl font-bold md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 line-through xl:leading-[60px]">€39.90</p>
                </div>
            </div>
        </div>
        <div class="bg-center bg-no-repeat bg-cover swiper-slide" style="background-image: url('/assets/image/banner-img/sofa.jpg');">
            <div class="container relative w-full mx-auto">
                <div class="absolute top-3 right-3 sm:top-8 sm:right-8 lg:top-16 lg:right-[80px] xl:right-[140px] text-right text-white">
                    <p class="font-bold text-sm sm:text-2xl md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 xl:leading-[60px]">"Emerald Dream" Sofa</p>
                    <p class="font-bold text-2xl md:text-4xl lg:text-[52px] xl:text-[68px] lg:leading-[60px] xl:leading-[80px]">€83.99</p>
                    <p class="text-gray-400 text-xl font-bold md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 line-through xl:leading-[60px]">€139.80</p>
                </div>
            </div>
        </div>
        <div class="bg-center bg-no-repeat bg-cover swiper-slide" style="background-image: url('/assets/image/banner-img/sculpture.jpg');">
            <div class="container relative w-full mx-auto">
                <div class="absolute top-3 right-3 sm:top-8 sm:right-8 lg:top-16 lg:right-[80px] xl:right-[140px] text-right text-gray-200">
                    <p class="font-bold text-sm sm:text-2xl md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 xl:leading-[60px]">Classic sculptures</p>
                    <p class="font-bold text-2xl md:text-4xl lg:text-[52px] xl:text-[68px] lg:leading-[60px] xl:leading-[80px]">€49.90</p>
                    <p class="text-gray-500 text-xl font-bold md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 line-through xl:leading-[60px]">€69.90</p>
                </div>
            </div>
        </div>
        <div class="bg-center bg-no-repeat bg-cover swiper-slide" style="background-image: url('/assets/image/banner-img/fixtures.jpg');">
            <div class="container relative w-full mx-auto">
                <div class="absolute top-3 right-3 sm:top-8 sm:right-8 lg:top-16 lg:right-[80px] xl:right-[140px] text-right text-gray-200">
                    <p class="font-bold text-sm sm:text-2xl md:text-3xl lg:text-4xl xl:text-[52px] lg:leading-10 xl:leading-[60px]">Fabric lamp</p>
                    <p class="font-bold text-2xl md:text-4xl lg:text-[52px] xl:text-[68px] lg:leading-[60px] xl:leading-[80px]">€18.99</p>
                </div>
            </div>
        </div>
    </div>
    <div class="static flex items-center justify-center h-3 p-1 mt-4 mb-3 lg:p-2 xl:mt-10 swiper-pagination section-banner_slider lg:h-7">
    </div>
</div>