<div class="container mx-auto">
    <div class="grid items-center md:grid-cols-2 gap-y-2 md:gap-x-4">
        <img src="/images/image/congrats.png" alt="#">
        <p class="hidden text-xl font-medium text-gray-600 md:block">Don't miss your chance to receive a gift! Make an order in the amount of € 50 and more and receive a personal gift from our team! All gifts are unique and selected based on your preferences!</p>
        <p class="text-sm font-medium text-gray-600 md:hidden">Make an order in the amount of € 50 and more and receive a personal gift from our team!</p>
    </div>
</div>