{% set maximagesProduct = 1 %}
{% set maxReview = 3 %}
{% import "partials/rating.njk" as elRating %}
{% macro reviewItem(img, name, surname, date, rating, recommended, review) %}
<div class="w-full">
    <div class="grid items-center grid-flow-col w-max gap-x-1 md:gap-x-4">
        <img class="object-cover rounded-full w-9 h-9 md:w-12 md:h-12" src="{{ img }}" alt="{{ name }} {{ surname }}">
        <div>
            <div class="grid grid-flow-col gap-x-2">
                <p class="font-medium text-gray-900">{{ name }} {{ surname }}</p>
                <p class="text-gray-600">{{ date }}</p>
            </div>
            {{ elRating.ratingStars(rating) }}
        </div>
    </div>
    {% if recommended==true %}
    <div class="font-medium text-gray-900">
        <span>{{ name }} recommended this item</span>
    </div>
    {% endif %}
    <div class="mt-1 text-sm md:text-base">
        <span>{{ review }}</span>
    </div>
</div>
{% endmacro %}

{% macro reviews(rating, imagesProduct, name, modelNumber, reviews, review, recommendedTrue, recommended, ratings) %}
<div x-data="{ allReviews: false, writeReviews: false }">
    <h2 class="mb-5 text-2xl font-medium uppercase">Customer Reviews</h2>
    <div class="grid grid-cols-full gap-y-5">
        {% for item in review.slice(0, maxReview) %}
        {{ reviewItem(item.img, item.name, item.surname, item.date, item.rating, item.recommended, item.review)
        }}
        {% endfor %}
    </div>
    {% if reviews.length > maxReview %}
    <button @click="allReviews = !allReviews" class="flex items-end h-6 mt-5 text-blue-800">
        <span>Read more reviews</span>
        <svg class="w-4 h-4 mb-0.5">
            <use xlink:href="/images/all-icons.svg#arrow-right"></use>
        </svg>
    </button>
    {% endif %}
    <button @click="writeReviews = !writeReviews"
        class="relative flex items-center justify-center w-full h-12 mt-5 font-medium text-blue-800 transition-colors duration-300 rounded outline-none hover:text-white hover:bg-blue-700 active:ring-blue-900 active:text-white active:bg-blue-900 active:outline-none hover:ring-blue-700 focus:outline focus:outline-blue-800 focus:bg-blue-800 focus:text-white focus:outline-offset-2 sm:w-60 ring-1 ring-blue-800">
        <span>Write a review</span>
    </button>
    <div :class="{ 'invisible opacity-0' : !allReviews}"
        class="transition-all fixed inset-0 invisible opacity-0 hidden z-[99] md:block bg-black/30">
    </div>
    <div :class="{'' : allReviews, '-translate-y-full md:-translate-y-0 md:translate-x-full' : !allReviews}"
        class="md:right-0 top-0 px-4 md:py-10 md:pl-10 md:pr-20 z-[60] -translate-y-full md:-translate-y-0 md:translate-x-full border-gray-200 transition-all duration-500 bg-white md:z-[100] h-full md:w-1/2 fixed inset-x-0 md:left-auto overflow-y-auto">
        <div class="grid gap-y-5">
            <div class="flex justify-between w-full text-gray-900">
                <p class="text-2xl font-medium uppercase">Customer reviews & ratings</p>
                <button type="button" @click="allReviews = !allReviews"
                    class="w-8 h-8 transition-colors duration-500 rounded hover:bg-gray-200">
                    <svg class="w-8 h-8">
                        <use xlink:href="/images/all-icons.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="flex space-x-6">
                {% for item in imagesProduct.slice(0, maximagesProduct) %}
                <img class="w-[92px] object-cover h-[92px] rounded" src="{{ item.path }}" alt="#">
                {% endfor %}
                <div>
                    <p>{{ name }}</p>
                    <p>Model number: {{ modelNumber }}</p>
                </div>
            </div>
            <div class="w-full">
                <div class="w-full">
                    {{ elRating.ratingCustomer(rating, reviews, recommendedTrue, recommended, ratings) }}
                </div>
                <button
                    class="relative flex items-center justify-center h-12 font-medium text-blue-800 transition-colors duration-300 rounded outline-none mt-7 hover:text-white hover:bg-blue-700 active:ring-blue-900 active:text-white active:bg-blue-900 active:outline-none hover:ring-blue-700 focus:outline focus:outline-blue-800 focus:bg-blue-800 focus:text-white focus:outline-offset-2 w-60 ring-1 ring-blue-800">
                    <a href="#" class="before:absolute before:inset-0">Write a review</a>
                </button>
            </div>
            <div class="flex justify-between w-full text-gray-600">
                <p>{{ reviews.length }} reviews</p>
                <button class="flex items-center space-x-2">
                    <p>Sort by:</p>
                    <p>Newest to oldest</p>
                    <svg class="w-5 h-5">
                        <use xlink:href="/images/all-icons.svg#arrow-top"></use>
                    </svg>
                </button>
            </div>
            <div class="grid gap-y-5">
                {% for item in reviews %}
                {% if item.review %}
                {{ reviewItem(item.img, item.name, item.surname, item.date, item.rating, item.recommended, item.review)
                }}
                {% endif %}
                {% endfor %}
                <button
                    class="relative flex items-center justify-center h-12 mt-8 font-medium text-blue-800 transition-colors duration-300 rounded outline-none hover:text-white hover:bg-blue-700 active:ring-blue-900 active:text-white active:bg-blue-900 active:outline-none hover:ring-blue-700 focus:outline focus:outline-blue-800 focus:bg-blue-800 focus:text-white focus:outline-offset-2 w-60 ring-1 ring-blue-800">
                    <span>Read more</span>
                </button>
            </div>
        </div>
    </div>
    <div :class="{ 'invisible opacity-0' : !writeReviews}"
        class="transition-all fixed inset-0 invisible opacity-0 hidden z-[99] md:block bg-black/30">
    </div>
    <div :class="{'' : writeReviews, '-translate-y-full md:-translate-y-0 md:translate-x-full' : !writeReviews}"
        class="md:right-0 top-0 px-4 md:py-10 md:pl-10 md:pr-20 z-[60] -translate-y-full md:-translate-y-0 md:translate-x-full border-gray-200 transition-all duration-500 bg-white md:z-[100] h-full md:w-1/2 fixed inset-x-0 md:left-auto overflow-y-auto">
        <div class="grid gap-y-5">
            <div class="flex justify-between w-full text-gray-900">
                <p class="text-2xl font-medium uppercase">review add</p>
                <button type="button" @click="writeReviews = !writeReviews"
                    class="w-8 h-8 transition-colors duration-500 rounded hover:bg-gray-200">
                    <svg class="w-8 h-8">
                        <use xlink:href="/images/all-icons.svg#close"></use>
                    </svg>
                </button>
            </div>
            <div class="flex space-x-6">
                {% for item in imagesProduct.slice(0, maximagesProduct) %}
                <img class="w-[92px] object-cover h-[92px] rounded" src="{{ item.path }}" alt="#">
                {% endfor %}
                <div>
                    <p>{{ name }}</p>
                    <p>Model number: {{ modelNumber }}</p>
                </div>
            </div>
            <form class="grid gap-y-6 form-review" action="" method="post">
                <fieldset class="grid gap-y-2 form-review__rating">
                    <legend class="font-medium">Rate this product</legend>
                    <div class="outline-offset-2 focus-within:outline focus-within:outline-2 focus-within:outline-blue-800 relative h-8 rating md:h-6 aspect-[5.5/1] bg-contain rating__group" style="background-image: url(/images/icons/rating-off.svg);">
                        {% for item in range(0, 5) %}
                            <input
                                class="absolute inset-0 h-full bg-contain outline-none opacity-0 appearance-none cursor-pointer checked:opacity-100 hover:opacity-100 rating__star"
                                type="radio"
                                name="rating"
                                aria-label="one"
                                value="{{ loop.index }}"
                                style="background-image: url(/images/icons/rating-on.svg); width: calc((100% / 5) * {{ loop.index }});"
                            >
                        {% endfor %}
                    </div>
                </fieldset>
                <label class="grid gap-y-2">
                    <span class="font-medium">Would you recommend this product?</span>
                    <div class="grid grid-flow-col label__buttons gap-x-7 w-max">
                        <div class="flex items-center space-x-2">
                            <label class="relative flex group">
                                <input class="appearance-none sr-only peer" name="recommended" type="radio">
                                <span
                                    class="block w-4 h-4 transition-all duration-300 rounded-full cursor-pointer peer-disabled:shadow-none peer-disabled:cursor-default input_radio ring-2 group-hover:shadow-md peer-checked:ring-blue-800 peer-checked:bg-white ring-gray-600 before:bg-blue-800 peer-checked:before:w-2 peer-checked:before:h-2 before:transition-all before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:absolute before:duration-300 before:rounded-full"></span>
                            </label>
                            <span class="text-gray-600">Yes</span>
                        </div>
                        <div class="flex items-center space-x-2">
                            <label class="relative flex group">
                                <input class="appearance-none sr-only peer" name="recommended" type="radio">
                                <span
                                    class="block w-4 h-4 transition-all duration-300 rounded-full cursor-pointer peer-disabled:shadow-none peer-disabled:cursor-default input_radio ring-2 group-hover:shadow-md peer-checked:ring-blue-800 peer-checked:bg-white ring-gray-600 before:bg-blue-800 peer-checked:before:w-2 peer-checked:before:h-2 before:transition-all before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:absolute before:duration-300 before:rounded-full"></span>
                            </label>
                            <span class="text-gray-600">No</span>
                        </div>
                    </div>
                </label>
                <label class="grid gap-y-2">
                    <span class="font-medium">Share your experience</span>
                    <textarea name="form-review__review" id="review" cols="80" rows="5" class="w-full px-4 py-3 rounded outline-none resize-none ring-2 ring-gray-400" placeholder="What do you like or dislike? What shouls other shoppers know before buying?"></textarea>
                </label>
            </form>
            <button class="flex items-center justify-center h-12 mt-5 font-medium text-white bg-blue-800 rounded focus-within:outline focus-within:outline-blue-800 focus-within:outline-2 active:bg-blue-900 active:outline-none focus-within:outline-offset-2 w-60">
                <span>Submit review </span>
            </button>
        </div>
    </div>
</div>
{% endmacro %}

{% macro reviewModal(reviews) %}
<div class="flex justify-between w-full mt-10">
    <div>
        <h2 class="mb-5 text-2xl font-medium uppercase">Customer Reviews</h2>
        <div class="grid gap-y-5">
            {% for item in reviews %}
            {{ reviewItem(item.img, item.name, item.surname, item.date, item.rating, item.recommended, item.review) }}
            {% endfor %}
        </div>
    </div>
    <div class="w-[33%]"></div>
</div>
{% endmacro %}