<div class="container w-full pt-5 mx-auto lg:pt-12">
    <div class="flex items-center justify-between">
        <h2 class="text-3xl font-medium text-gray-900 uppercase">news</h2>
        <a href="/" class="text-xl text-blue-800 underline outline-none focus:outline focus:outline-blue-800 active:text-blue-900">See all</a>
    </div>
    <div class="w-full overflow-visible swiper section-news__swiper">
        <div class="mt-10 swiper-wrapper sm:grid sm:grid-cols-4 sm:gap-x-4">
            <div class="relative group swiper-slide">
                <img class="w-full mb-2 transition-all duration-500 rounded-lg outline-none group-active:opacity-80" src="/assets/image/january.png" alt="#">
                <a href="/" class="text-sm font-medium transition-all duration-500 outline-none before:absolute before:inset-0 md:base md:group-hover:text-blue-800 focus:text-blue-800 group-active:text-blue-900/50 focus:outline-none">What to expect from January 2021?</a>
            </div>
            <div class="relative group swiper-slide">
                <img class="w-full mb-2 transition-all duration-500 rounded-lg outline-none group-active:opacity-80" src="/assets/image/christmas.png" alt="#">
                <a href="/" class="text-sm font-medium transition-all duration-500 outline-none before:absolute before:inset-0 md:base md:group-hover:text-blue-800 focus:text-blue-800 group-active:text-blue-900/50 focus:outline-none">Christmas Sale! Hurry up to buy what you want!</a>
            </div>
            <div class="relative group swiper-slide">
                <img class="w-full mb-2 transition-all duration-500 rounded-lg outline-none group-active:opacity-80" src="/assets/image/black-friday.png" alt="#">
                <a href="/" class="text-sm font-medium transition-all duration-500 outline-none before:absolute before:inset-0 md:base md:group-hover:text-blue-800 focus:text-blue-800 group-active:text-blue-900/50 focus:outline-none">Black Friday! Check out the best prices</a>
            </div>
            <div class="relative group swiper-slide">
                <img class="w-full mb-2 transition-all duration-500 rounded-lg outline-none group-active:opacity-80" src="/assets/image/eco-products.png" alt="#">
                <a href="/" class="text-sm font-medium transition-all duration-500 outline-none before:absolute before:inset-0 md:base md:group-hover:text-blue-800 focus:text-blue-800 group-active:text-blue-900/50 focus:outline-none">Eco friendly products - new consumption trend!</a>
            </div>
        </div>
    </div>
</div> 