<a class="mt-4 text-blue-700 underline transition-all duration-300 outline-none focus:outline focus:outline-blue-800 hover:text-blue-800 focus:text-blue-900 active:text-blue-900 focus:no-underline active:no-underline hover:no-underline" href="/">+760(455)610-84-42923</a>